html {
    background: black;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-family: 'Courier New', sans-serif;
    color: rgb(0, 255, 0);
}

#gameCanvas {
    margin: auto;
    display: flex;
    border: 2px solid black;
    background: rgb(193, 239, 255);
}